*
!.gitignore
!font/**
!install/**
!static/
!static/**
static/js/
static/assets/
static/pages/
static/index.*.css
static/index.html
!statics/
!statics/**
!favicon.ico
!index.php
!robots.txt
!router.php
!.htaccess
