/.idea
/.vscode
/vendor/
*.log
.env
.env.*
.constant
.DS_Store
/.gitignore.backup
/.phpstorm.meta.php
*.orig
*.rej
*.swp
*.swo
*.tmp
install/install.lock
app/controller/api/Test.php
cert_crmeb.key
/cert_*.pam

install/**/*.zip
runtime
view/*.zip
